.thumbnail img{
  width: 250px;
}

.indent{
  margin-left: 30px;
}

.accordion{
  margin-bottom: 30px;
}

.top-bar{
  margin-bottom: 30px;
}

.vote{
  text-align: right;
  position: absolute;
  top: 15px;
  right:15px;
}

.vote:hover{
  color:green;
  cursor: pointer;
}

.suggested, .suggest-able{
  position: relative;
}

.suggest{
  text-align: right;
  position: absolute;
  bottom: 15px;
  right:15px;
}
