#landing{
  height: 100vh;
}

.landingbg{
  background-image: url('/assets/static/images/groceries_landing.jpg');
  background-size: cover;
  height: 100vh;
  /*
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  */
}

.inherit{
  height: inherit;
}

.hidden{
  display: none;
}

.right{
  text-align: right;
}

.left{
  height: 500px;
  overflow-y: auto;
}

.icon{
  font-family: icons;
}

.small{
  width: 100px;
}

@font-face {
  font-family: icons;
  src: url('/assets/static/fonts/foundation-icons.woff');
}

#blackout{
  position: fixed;
  top:0px;
  width: 100vw;
  height: 120%;
  background-color: black;
  opacity: .85;
  z-index: 10;
}

#edit{
  position: fixed;
  width: 700px;
  z-index: 100;
}

#exit{
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 20px;
}

.card-form{
  width: 360px;
}

.fi-heart{
  color:red;
}

.fi-check{
  color:#22bb5b;
}

.description{
  height:180px;
  width:230px;
  overflow-y: auto;
}
