#registering{
  width: 600px;
  height: 200px;
  position: relative;
  left: 250px;
  font-size: 18px;
  letter-spacing: 5px;
}

#register{
  display: none;
}

#link_login span{
  color:black;
}

#link_login span:hover{
  color:white;
  cursor: crosshair;
}

#reg_errors{
  width: 250px;
  height: 15px;
  padding: 5px 0px;
  font-size: 12px;
  color: #8e3023;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 5px #FF0000;
}
