#landing{
  height: 100vh;
}

.landingbg{
  background-image: url('/assets/static/images/groceries_landing.jpg');
  background-size: cover;
  height: 100vh;
  /*
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  */
}

.inherit{
  height: inherit;
}

.hidden{
  display: none;
}

.right{
  text-align: right;
}

.left{
  height: 500px;
  overflow-y: auto;
}
