#login_reg{
  background-image: url('/assets/static/images/mindscape-login.png');
  background-size: cover;
  width: 600px;
  height: 200px;
  margin-left: -100px;
  margin-top: -30px;
  position: absolute;
  display: none;
}

#login_errors{
  width: 250px;
  height: 15px;
  padding: 5px 0px;
  font-size: 12px;
  color: #8e3023;
  text-shadow: 0 0 5px #FF0000;
  letter-spacing: 1px;
  text-align: center;
}

#link_register, #link_login{
  position: relative;
  left: 23px;
  top: 120px;
  width: 200px;
  height: 30px;
  letter-spacing: 6px;
  color: grey;
}

#link_register span:{
  color:black;
}

#link_register span:hover {
  color:white;
  cursor: crosshair;
}

#logging_in{
  position: relative;
  left: 300px;
  top: 30px;
  font-size: 18px;
  letter-spacing: 5px;
}

table{
  text-align: right;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #505963;
}

td{
  padding: 0px 10px;
}

.input{
  border-bottom: 1px solid #505963;
}

input{
  border: none;
  background-color: transparent;
}

input[type="submit"]{
  border-radius: 5px;
  position: relative;
  padding: 2px 15px;
  letter-spacing: 2px;
  top: 13px;
  left: 73px;
  border: 1.5px solid white;
  background-color: rgba(255, 121, 94, 0.2);
  color: white;
  font-size: 14px;
}
