#bigleft{
  height: 100%;
  width: 310px;
  overflow: hidden;
}

#left{
  width: 310px;
  height: 100vh;
  background-color: #cecece;
  padding: 0px 20px;
  padding-bottom: 50px;
  overflow-y: auto;
}

#left a{
  color: #737373;
}

#left a:hover{
  text-decoration: none;
  color: #a0a0a0;
}

#left_top{
  /*position: fixed;*/
  z-index: 10;
  background-color: #cecece;

}

.icons, .full{
 position: relative;
 top: 3px;
 padding-left: 10px;
 font-size: 16px;
 color: #a0a0a0;
}

.full:hover{
  color: #ffffff;
}

h2{
  display: inline-block;
  position: relative;
  top: 7px;
  padding-right: 20px;
}

#add_note, .note{
  margin: 20px 0px;
  width: 255px ;
  height: 230px;
  background-color: white;
  box-shadow: 2px 2px 4px #888888;
  padding: 15px;
  position: relative;
}

.note .edit-icon{
  position: absolute;
  top: 12px;
  right:12px;
  color: #999999;
  display:none;
}

input[name="title"]{
  margin-left: 10px;
  margin-bottom: 10px;
  width: 182px;
  border-bottom: 1px solid #cecece;
}

.noteContent{
  width: 224px;
  height: 130px;
  border: none;
  resize: none;
  overflow-y: auto;
}

.note_edit{
  display: none;
}

.hashes, .new_hashes{
  width: 180px;
  height: 35px;
  display: inline-block;
}

.new_hashes{
  display: none;
}

.new_hashes_input{
  width: 150px;
  height: 35px;
}

.current_hashes{
  width: 180px;
  height: 20px;
  display: inline-block;
}

.plus{
  position: relative;
  top: 5px;
  font-size: 22px;
  color: #008c45;
}

.plus:hover{
  color: #00ee76;
}

.minus{
  position: relative;
  top: 5px;
  font-size: 22px;
  color: #a0a0a0;
}

.minus:hover{
  color: #000000;
}

.link{
  background-color: #e6e6e6;
  border-radius: 30px;
  padding: 2px 5px;
  margin: 0px 2px;
}

.deletable, .addBack{
  color: white;
  border-radius: 30px;
  padding: 2px 9px;
  margin: 0px 2px;
}

.deletable{
  background-color: #00b359;
}

.addBack{
  background-color: #a0a0a0;
}

.deletable:hover, .addBack:hover{
  cursor: pointer;
  background-color: black;
}

.update{
  color: #a0a0a0;
  padding-left: 15px;
  font-size: 18px;
  position: relative;
  top: 3px;
  vertical-align: top;
}

.update:hover{
  color: black;
}

h4{
  margin: 0px 0px 5px 5px;
  font-size: 22px;
  font-style: italic;
}

sup{
  padding-left: 5px;
  color: grey;
  font-size: 12px;
}
