<!--Start of ABOUT US page-->

<div id="about">
  <div id="info">
    <div class="info">
      <h2>you + focus = your next big idea</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>

      <a href="#/">Get started today.</a>

    </div>
    <div class="info">
      <video controls>
        <source src="" type="video/mp4">
      </video>
    </div>

    <div id="footer"><a href="#">GLYPHICONS</a> |
      <a href="asdf">GitHub</a>
      &#xA9; 2016

    </div>
