<script src="assets/js/dash.js"></script>
<script src="assets/js/editItem.js"></script>


<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Dojo Groceries</li>
      <li class="active"><a name="home">Home</a></li>
      <li><a name="suggestions">Suggestions</a></li>
      <li><a name="database">Database</a></li>
      <li><a name="users">Users</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a ng-click="userCtrl.logout()">Logout</a></li>
    </ul>
  </div>
</div>

<div ng-controller="commentController as commentCtrl">
  <div ng-controller="categoryController as categoryCtrl">
    <div ng-controller="groceryController as groceryCtrl">
      <div class="content" ng-controller="commentController as commentCtrl">
        <div id="editCategories" class="view hidden" ui-view="category"></div>
        <div id="editItem" class="view hidden" ui-view="editItem"></div>
        <div id="home" class="view" ui-view="home"></div>
        <div id="suggestions" class="view hidden" ui-view="suggestions"></div>
        <div id="database" class="view hidden" ui-view="database"></div>
        <div id="users" class="view hidden" ui-view="users"></div>
      </div>
    </div>
  </div>
</div>
