<script src="assets/js/dash.js"></script>


<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Fūdo Dojo</li>
      <li class="active"><a name="suggestions"><i class="foundicon-star"></i> Home</a></li>
      <li><a name="database"><i class="foundicon-search"></i> Database</a></li>
      <li><a name="stats"><i class="foundicon-graph"></i> Stats</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><span class="label secondary"><b>Your Stats</b> [ Votes: <b>{{userCtrl.statUser.numberOfVotesCreated || 0 }}</b> | Comments: <b>{{userCtrl.statUser.numberOfCommentsCreated || 0 }}</b> | Items: <b>{{userCtrl.statUser.numberOfItemsCreated || 0 }}</b> ] </span></li>
      <li><a ng-click="userCtrl.logout()">Logout</a></li>
    </ul>
  </div>
</div>

<div class="content">
  <div id="suggestions" class="view" ui-view="suggestions"></div>
  <div id="database" class="view hidden" ui-view="database"></div>
  <div id="stats" class="view hidden" ui-view="stats"></div>
</div>
