<script src="assets/js/index.js"></script>


<div class="row">
    <div class="medium-4 columns">

      <div>
        <fieldset class="fieldset">
          <legend><span class="warning label">Budget This Week!</span></legend>
          <!-- START OF BUDGET -->
          <div class="callout alert" ng-if="groceryCtrl.budgeterrors">
            <ul>
              <li ng-repeat="err in groceryCtrl.budgeterrors">{{err}}</li>
            </ul>
          </div>
          <h3>The current budget is: ${{groceryCtrl.currentBudget.budget}}</h3>
          
          <label>Change the budget!
            $<input type="number" name="newBudget" ng-model="groceryCtrl.newBudget" />
          </label>
          <div class="right">
            <input type="submit" class="button" value="Set Budget!" ng-click="groceryCtrl.setBudget();">
          </div>
        </fieldset>
      </div>

      <div id="inbox">
        <fieldset class="fieldset">
          <legend><span class="secondary label">Inbox:</label></legend>
            <a name="users"><b>{{ userCtrl.pendingUsersCount }}</b> user(s) waiting on approval.</a>
            <br/><br/>

            <div class="callout secondary" ng-repeat="comment in commentCtrl.inbox | orderBy:'createdAt'">
              <b>{{ comment.userName }}</b> says:
              <sup>{{ comment.createdAt | date: 'EEE MM/dd/yy h:mm a'}}</sup>
              <p>{{ comment.content }}</p>
              <div class="right">
                <span class="flag"><a ng-click="commentCtrl.flag(comment._id)"><i class="fi-check"></i> Un-Flag</a></span>
                <a ng-click="commentCtrl.delete(comment._id)">Delete</a>
              </div>
            </div>
        </fieldset>
      </div>
    </div>
    <div class="medium-8 columns">
      <div id="groceries">
        <fieldset class="fieldset">
          <legend><span class="success label">Grocery List:</label></legend>
            <a class="button" ng-click="groceryCtrl.filter('Walmart')">Walmart</a> <a class="button" ng-click="groceryCtrl.filter('Sams')">Sam's Club</a>

            <input type="text" ng-model="groceryCtrl.filter.place" placeholder="Search..."/><br />

            <table>
              <thead>
                <tr>
                  <th> Bought </th>
                  <th> Image </th>
                  <th> Name </th>
                  <th> Price </th>
                  <th> Qty. </th>
                  <th> Category </th>
                  <th> Popularity </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in groceryCtrl.list | filter:groceryCtrl.filter.place | orderBy:'category'">
                  <td><input type="checkbox" ng-model="item.bought" ng-click="groceryCtrl.changeBought(item._id, userCtrl.groceryweek.week)"></td>
                  <td>
                    <div class="small thumbnail">
                      <img src="{{ item.img }}" ng-if="item.img"/>
                      <img src="/assets/static/images/placeholder.png" ng-if="!item.img"/>
                    </div>
                  </td>
                  <td>
                    <span class="flag"><a><i class="foundicon-remove" ng-click="groceryCtrl.removeFromGroceries(item._id, userCtrl.groceryweek.week)"></i></a></span>
                    <a ng-click="itemCtrl.getOne(item._id)"><b>{{ item.name }}</b></a>
                  </td>
                  <td>{{ item.price | currency }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.category }}</td>
                  <td ng-if="item.voting_list[userCtrl.groceryweek.week]">
                    <b>{{ item.voting_list[userCtrl.groceryweek.week] }} vote(s)</b><br/>
                  </td>
                  <td ng-if="!item.voting_list[userCtrl.groceryweek.week]">
                    <b>0 vote(s)</b><br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </fieldset>

      </div>
    </div>
</div>
