<script src="assets/js/index.js"></script>

<div class="callout alert" ng-if="userCtrl.errors">
  <ul>
    <li ng-repeat="err in userCtrl.errors">{{err}}</li>
  </ul>
</div>

<form ng-submit="userCtrl.login()">
  <fieldset class="fieldset">
    <legend>Login</legend>
    <label>Email
      <input type="email" name="email" ng-model="userCtrl.info.email" />
    </label>
    <label>Password
      <input type="password" name="password" ng-model="userCtrl.info.password" />
    </label>
    <div class="right">
      <input type="submit" class="button" value="Login!">
    </div>
    </fieldset>
</form>

<form ng-submit="userCtrl.forgotPassword();">
  <fieldset class="fieldset">
    <legend>Password Reset</legend>
    <label>Email
      <input type="email" name="forgotPasswordEmail" ng-model="userCtrl.forgotPasswordEmail">
    </label>
    <div class="right">
      <input type="submit" class="button" value="Send Email.">
    </div>
  </fieldset>
</form>

<a name="register">Don't have an account? Register!</a>
