<div class="row">
	<div class="panel" class="large-4 columns">
		<h2>Stats Page</h2>
		<fieldset>
			<legend>Pick a week.</legend>
			<select ng-model="statCtrl.selectedWeek">
				<option ng-repeat="o in statCtrl.listOfWeeks" value="{{o}}">{{o}}</option>
			</select>
			<div class="right">
				<button class="success button" ng-click="statCtrl.getWeek();">Get Week's Data</button>
			</div>
		</fieldset>
	</div>

	<table ng-if="statCtrl.statOneWeek">
		<tr>
			<th>Item Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>From</th>
			<th>Category</th>
		</tr>
		<tr ng-repeat="i in statCtrl.statOneWeek.list">
			<td>{{i.name}}</td>
			<td>{{i.price}}</td>
			<td>{{i.quantity}}</td>
			<td>{{i.from}}</td>
			<td>{{i.category}}</td>
		</tr>
	</table>

</div>