<script src="assets/js/dash.js"></script>
<script src="assets/js/db.js"></script>
<div class="row">
  <div class="medium-9 columns">
    <h2>Suggested This Week!</h2>
    <input type="text" ng-model="itemCtrl.filter" placeholder="Search..."/><br />

    <div id="suggested">
      <div class="callout media-object suggested" ng-repeat="item in itemCtrl.items | filter:itemCtrl.filter | orderBy:itemCtrl.popularVote:true track by $index;" ng-if="item.voting_list.hasOwnProperty(itemCtrl.thisweek)">
        <div class="vote" ng-if="userCtrl.user.adminLvl<9">
          <span ng-click="userCtrl.vote(item._id)">
            <span ng-if="userCtrl.user.votes.hasOwnProperty(userCtrl.thisweek) && userCtrl.user.votes[userCtrl.thisweek].hasOwnProperty(item._id) && userCtrl.user.votes[userCtrl.thisweek][item._id]>0" class="success badge">{{ item.voting_list[userCtrl.thisweek] }}</span>
            <span ng-if="!userCtrl.user.votes.hasOwnProperty(userCtrl.thisweek) || !userCtrl.user.votes[userCtrl.thisweek].hasOwnProperty(item._id) || userCtrl.user.votes[userCtrl.thisweek][item._id]<0" class="warning badge"> <i class="fi-arrow-up"></i> {{ item.voting_list[userCtrl.thisweek] }}</span>
            vote(s)
          </span>
        </div>
        <div class="votes" ng-if="userCtrl.user.adminLvl>8">
            <span class="warning badge">{{ item.voting_list[userCtrl.thisweek] }}</span>
            vote(s)
        </div>

        <div class="media-object-section">
          <div class="thumbnail">
            <img src="{{ item.img }}"/>
          </div>
          <br/>
          <!--User-->
          <a ng-click="itemCtrl.fav(item._id)" ng-if="userCtrl.user.adminLvl<9&&!item.favedByUsers.hasOwnProperty(userCtrl.user._id)"><i class="foundicon-heart"></i> Add to Fav's</a>
          <a ng-click="itemCtrl.fav(item._id)" ng-if="userCtrl.user.adminLvl<9&&item.favedByUsers.hasOwnProperty(userCtrl.user._id)"><i class="fi-heart"></i> Favorited!</a>
          <!--Admin-->
          <div ng-if="userCtrl.user.adminLvl>8">
            <a ng-click="groceryCtrl.removeFromGroceries(item._id, userCtrl.groceryweek)" ng-if="groceryCtrl.groceryDictionary.hasOwnProperty(item._id)"><span class="remove"><i class="fi-minus"></i> <i class="fi-shopping-cart"></i></span></a>
            <a ng-click="groceryCtrl.addToGroceries(item._id, userCtrl.groceryweek)" ng-if="!groceryCtrl.groceryDictionary.hasOwnProperty(item._id)"><i class="fi-plus"></i> <i class="fi-shopping-cart"></i></span></a>
            | <a ng-click="itemCtrl.persist(item._id)" ng-if="!item.persist"><i class="foundicon-checkmark"></i> Auto-Add to Grocery Lists</a>
            <a ng-click="itemCtrl.persist(item._id)" ng-if="item.persist"><i class="fi-check"></i> Auto-added!</a>
          </div>

        </div>
        <div class="media-object-section">


          <h4>
            <a ng-click="itemCtrl.getOne(item._id)" ng-if="userCtrl.user.adminLvl>8"><b>{{ item.name }}</b></a>
            <b ng-if="userCtrl.user.adminLvl<9">{{ item.name }}</b>
          </h4>

          <div class="indent">
            <h6><b>Category:</b> {{ item.category }} | {{ item.price | currency }} </h6>
            <p>{{ item.description }}</p>
            <div class="callout secondary" ng-repeat="comment in item.comments | orderBy:'createdAt'" ng-if="comment.week==userCtrl.thisweek">
              <b>{{ comment.userName }}</b> says:
              <sup>{{ comment.createdAt | date: 'EEE MM/dd/yy h:mm a'}}</sup>
              <p>{{ comment.content }}</p>
              <div class="right" ng-if="comment.userId!=userCtrl.user._id && comment.active==2">
                <span class="flag"><a ng-click="commentCtrl.flag(comment._id)"><i class="fi-flag"></i> Flag</a></span>
              </div>
              <div class="right" ng-if="comment.userId!=userCtrl.user._id && comment.active==1">
                <span class="flagged"><i class="fi-flag"></i> Flagged</span>
              </div>
              <div class="right" ng-if="comment.userId==userCtrl.user._id || userCtrl.user.adminLvl>8">
                <a ng-click="commentCtrl.delete(comment._id)">Delete</a>
              </div>
            </div>

            <div class="callout alert" ng-if="commentCtrl.errors">
              <div ng-if="commentCtrl.thisOne===$index">
                <ul>
                  <li ng-repeat="err in commentCtrl.errors">{{err}}</li>
                </ul>
              </div>
            </div>

            <div class="callout warning comment">
              <form ng-submit="commentCtrl.comment(item._id, commentCtrl.msg[item._id], $index);commentCtrl.msg=''">
                <label>
                  Write a Comment!
                  <textarea placeholder="What do you have to say about {{item.name}}?" ng-model="commentCtrl.msg[item._id]"></textarea>
                  <div class="right">
                    <input type="submit" class="button success" value="Send!">
                  </div>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-3 columns">

    <fieldset class="fieldset fav-food" ng-if="userCtrl.user.adminLvl===9">
      <legend>Auto-Added Foods</legend>
      <sup>These items are automatically added to future grocery lists. Click on the <i class="foundicon-remove"></i> icon to un-persist an item.</sup><br/>
      <div class="thumbnail" ng-repeat="item in itemCtrl.items" ng-if="item.persist===true">
        <div class="unfav"><a ng-click="itemCtrl.persist(item._id)"><i class="foundicon-remove"></i></a></div>
        <img src="{{ item.img }}" />
      </div>
    </fieldset>


    <fieldset class="fieldset fav-food" ng-if="userCtrl.user.adminLvl<9">
      <legend>Your <i class="fi-heart"></i> Favorite Foods</legend>
      <sup>Click on the <i class="foundicon-remove"></i> icon to un-favorite an item. Click on any item to vote/suggest it for the week. Clicking on an item again will undo your action. </sup><br/>
      <div class="thumbnail" ng-repeat="item in itemCtrl.items" ng-if="item.favedByUsers.hasOwnProperty(userCtrl.user._id)">
        <div class="unfav"><a ng-click="itemCtrl.fav(item._id)"><i class="foundicon-remove"></i></a></div>
        <img src="{{ item.img }}" ng-click="userCtrl.vote(item._id)" />
      </div>
    </fieldset>

    <form ng-submit="userCtrl.userNewPassword()">
      <fieldset>
        <legend>Change your password</legend>
        <label>New Password:
          <input type="password" name="newpw" ng-model="userCtrl.userNewPasswordEntry"/>
        </label>
        <div class="right">
          <input type="submit" class="button" value="Change.">
        </div>
      </fieldset>
        <div ng-if="userCtrl.passwordChangeConfirm" class="callout primary">
          <p>You have successfully changed your password!</p>
        </div>
    </form>

    <b>Still don't see anything you like?</b><a name="database"> Suggest something from the database!</a>
  </div>
</div>
