<script src="assets/js/users.js"></script>
<div id="dialog" class="hidden" title="Alert">
  <h4>Are you sure you want to delete this user?</h4>
  <p><b>Name:</b><span id="deleteUserName"></span> | <b>Email:</b><span id="deleteUserEmail"></span></p>
  <button class="button" id="deleteUser" ng-click="userCtrl.delete(userCtrl.toDelete.id)">Yes</button>
</div>

<h2>All Users</h2>

<div class="callout alert" ng-if="userCtrl.errors3">
  <ul>
    <li ng-repeat="err in userCtrl.errors3">{{err}}</li>
  </ul>
</div>

<div class="callout success" ng-if="userCtrl.success3">
  <ul>
    <li ng-repeat="msg in userCtrl.success3">{{msg}}</li>
  </ul>
</div>


<input type="text" ng-model="userCtrl.filter" placeholder="Search..."/><br />

<table class="center">
  <thead>
    <tr>
      <th width="200">Name</th>
      <th>Email</th>
      <th width="400">Created At</th>
      <th width="300">User Level</th>
      <th>Batch Process</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in userCtrl.allUsers | filter:userCtrl.filter | orderBy:'-createdAt' track by $index">
      <td>
        <span ng-if="user._id!=userCtrl.user._id" class="flag"><a id="{{user._id}}" name="deleteUser"><i class="fi-minus-circle"></i></a></span>
        <i>{{user.name}}</i>
        <span class="hidden" ng-click="userCtrl.delete(user._id)" name="{{user._id}}"></span>
      </td>
      <td name="email">{{user.email}}</td>
      <td>{{user.createdAt | date:'medium'}}</td>
      <td ng-if="user.adminLvl>0">
        {{user.adminLvl}} - <span ng-if="user.adminLvl==9"><i class="fi-star"></i> Admin</span> <span ng-if="user.adminLvl==1">User</span> <span ng-if="user.adminLvl==0">Unapproved</span><br/>
        <a name="edit"><sub>Edit</sub></a>

        <form id="{{$index}}" class="hidden" ng-submit="userCtrl.editAdminLvl(user._id, userCtrl.changeToAdminLvl[user._id])">
          <select ng-model="userCtrl.changeToAdminLvl[user._id]">
            <option value=""> Change User Level</option>
            <option value="9"> 9 - Admin </option>
            <option value="1"> 1 - User </option>
            <option value="0"> 0 - Unapproved </option>
          </select>
          <button type="button submit" class="success button">Save</button>
        </form>
      </td>

      <td ng-if="user.adminLvl==0" class=yellow>
        {{user.adminLvl}} - <span ng-if="user.adminLvl==9"><i class="fi-star"></i> Admin</span> <span ng-if="user.adminLvl==1">User</span> <span ng-if="user.adminLvl==0">Unapproved</span><br/>
        <a name="edit"><sub>Edit</sub></a>

        <form id="{{$index}}" class="hidden" ng-submit="userCtrl.editAdminLvl(user._id, userCtrl.changeToAdminLvl[user._id])">
          <select ng-model="userCtrl.changeToAdminLvl[user._id]">
            <option value=""> Change User Level</option>
            <option value="9"> 9 - Admin </option>
            <option value="1"> 1 - User </option>
            <option value="0"> 0 - Unapproved </option>
          </select>
          <button type="button submit" class="success button">Save</button>
        </form>
      </td>
      <td><input type="checkbox" ng-model="userCtrl.batchProcessInfo[user._id]"></td>

    </tr>

  </tbody>
</table>
<button ng-click="userCtrl.processBatch();" type="button submit" class="success button">Process Batch.</button>
